/* VARIABLES */

:root {
  --main-text-color: #2D314D;
  --secondary-text-color: #9597A5;
  --main-green-color: #30C88F;
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}


@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  src: local(''),
    url('../fonts/public-sans-v13-latin-100.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/public-sans-v13-latin-100.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/public-sans-v13-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/public-sans-v13-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* public-sans-500 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/public-sans-v13-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/public-sans-v13-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  overflow-x: hidden;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #FFFFFF;
}

.site-header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  width: 331px;
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  margin-right: 30px;

}




.site-nav__link {
  position: relative;
  display: inline-block;
  padding: 30px 0;
  transition: all 0.3s ease-in-out;
}

.site-nav__link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 4px;
  width: 100%;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.site-nav__link:hover.site-nav__link::after {

  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  transition: all 0.3s ease-in-out;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  text-decoration: none;
  color: var(--secondary-text-color);
}



.site-header__link,
.hero-box__link {
  display: inline-block;
  padding: 8px 36px 8px 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}

.site-header__link:hover,
.hero-box__link:hover {
  opacity: 0.7;
}


.hero {
  position: relative;
  padding-top: 250px;
  padding-bottom: 170px;
  background-color: #f2f2f2;
  background-image: url("../images/hero-bg-desktop.svg");
  background-position: calc(50% + 570px) -180px;
  background-repeat: no-repeat;
}

.hero__img {
  position: absolute;
  z-index: 2;
  top: calc(50% - 430px);
  left: calc(50% + 110px);
}

.hero-box {
  width: 447px;
}

.hero-box__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--main-text-color);
}

.hero-box__text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--secondary-text-color);
}

.why {
  padding: 96px 0;
  background-color: #F4F5F7;
}

.why__top {
  width: 635px;
}

.why__title {
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--main-text-color);
}

.why__text {
  margin-bottom: 72px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--secondary-text-color);
}


.why__list {
  display: flex;
}

.why__item {
  width: 255px;
}

.why__item:not(:last-child){
  margin-right: 30px;
}

.why__item::before{
    display: block;
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
    content: "";
}

.why__item:first-child::before{
  background-image: url("../images/online-banking.svg");
}

.why__item:nth-child(2)::before{
  background-image: url("../images/simple.svg");
}

.why__item:nth-child(3)::before{
  background-image: url("../images/fast.svg");
}

.why__item:nth-child(4)::before{
  background-image: url("../images/api.svg");
}

.why__item__title {
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: var(--main-text-color);
}

.why__item__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: var(--secondary-text-color);
}

.article{
  padding: 80px 0;
  background-color: #F2F2F2;
}